*,
html {
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #0e0e0e;
    color: white;
}
.bg-back-gradation {
    position: fixed;
    bottom: -240px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1467px;
    height: 1126px;
    flex-shrink: 0;
    border-radius: 1467px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(108, 113, 130, 0.6) 0.01%,
        rgba(255, 255, 255, 0.26) 5.21%,
        rgba(23, 23, 23, 0) 100%
    );
    opacity: 0.5;
}
.bg-gradation {
    position: fixed;
    bottom: -550px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1400px;
    height: 1000px;
    flex-shrink: 0;
    border-radius: 1467px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        #0094ff 0%,
        rgba(110, 6, 191, 0.57) 0%,
        #5f7eff 0.01%,
        rgba(104, 49, 214, 0.72) 33.33%,
        rgba(23, 23, 23, 0) 100%
    );
    opacity: 0.8;
}
.ssu_logo {
    width: 120px;
    height: 120px;
    background-image: url("./asset/ssu_likelion.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}
.card {
    position: absolute;
    width: 290.191px;
    height: 500.038px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #ffffff20;
    background: linear-gradient(47deg, #111 0%, rgba(0, 0, 0, 0.1) 100%)
        no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-position: right -60px top 115%;
    background-color: #111;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0) rotate(11.768deg);
    background-image: url("./asset/wave.svg");
}
.front > h1 {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
}
.likelion_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.likelion_wrapper > p {
    color: #969696;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.likelion_logo {
    width: 20px;
    height: 15px;
    background-image: url("./asset/symbol.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    opacity: 0.7;
    margin-right: 5px;
}

.front {
    backface-visibility: hidden;
    z-index: 10;
}
.front > h1 {
    margin: 0;
    margin-top: 20px;
}

.back {
    justify-content: center;
    align-content: left;
    align-items: flex-end;
    backface-visibility: hidden;
    z-index: 5;
    transform: translate(-50%, 0) rotate(11.768deg) rotateY(180deg);
}

.back > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}

.name {
    display: inline-flex;
    font-weight: 300;
    align-self: baseline;
    background-color: #cfcfcf;
    font-size: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.position {
    font-weight: 700;
    background: #cfcfcf;
    letter-spacing: -8px;
    font-size: 150px;
    background: linear-gradient(
        130deg,
        #cfcfcf 0%,
        #ffffff25 60%,
        #ffffff05 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
    font-family: Pretendard;
    line-height: 100px;
    text-align: start;
}

.rotate {
    width: 350px;
    height: 500px;
    position: relative;
    margin: 30vh auto;
    transition: all 0.8s;
    transform-style: preserve-3d;
    animation: motion 1.5s linear 0s 1 alternate;
}

.rotate:hover {
    transform: rotateY(180deg);
}

@keyframes motion {
    0% {
        opacity: 0;
        margin: 0px auto;
    }
    20% {
        opacity: 0.1;
        margin: 100px auto;
        transform: rotateY(180deg);
    }
    60% {
        opacity: 0.7;
        margin: 30vh auto;
        transform: rotateY(360deg);
    }
    80% {
        opacity: 0.5;
        margin: 25vh auto;
        transform: rotateY(360deg);
    }

    100% {
        opacity: 1;
        margin: 30vh auto;
        transform: rotateY(360deg);
    }
}

.github {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: url("./asset/github-icon.jpg") no-repeat;
    background-size: contain;
    opacity: 0.8;
    cursor: pointer;
}
